{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-header text-center">
                <h3>Registro de Usuário</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="#">
                    <div class="mb-3">
                        <label for="username" class="form-label">Usuário (RE)</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="profile" class="form-label">Perfil</label>
                        <select class="form-select" name="profile" aria-label="Default select example" >
                            <option selected></option>
                            
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>
                            <option value="Viewer">Viewer</option>
                            
                            </option>
                                              
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Registrar</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted">
                    Já tem uma conta? <a href="{{ url_for('users.login') }}">Faça login</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}