{% extends 'base.html' %}
{% block content %}
<h2>{{title }}</h2>
<a href="{{ url_for('incidente.new_incident') }}" class="btn btn-primary" action="url_for('incidente.new_incident')">Registrar novo incidente</a>
<table class="table table-bordered">
    <thead>
        <th>ID</th>
        <th>Tipo de Incidente</th>
        <th>Data abertura</th>
        <th>Nº Relatório</th>
        <th>Nº Ticket</th>
        <th>CPA</th>
        <th>BTL</th>
        <th>Companhia</th>
        <th>Status</th>
        <th>Visualizar</th>
        <!-- <th>Deletar</th> -->
    </thead>
    <tbody>
        {% for incidente in incidentes %}
        <tr>
            <td>{{incidente.id}}</td>
            <td>{{incidente.incident_type}}</td>
            <td>{{incidente.start_date.strftime("%d/%m/%Y %H:%M")}}</td>
            <td>{{incidente.report_number}}</td>
            <td>{{incidente.ticket_number}}</td>
            <td>{{incidente.cpa}}</td>
            <td>{{incidente.btl}}</td>
            <td>{{incidente.cia}}</td>
            <td>{{incidente.status_incident}}</td>
            <td><a href="{{url_for('incidente.incident_view', incident_id=incidente.id)}}" class="btn btn-warning btn-sm">Visualizar</a></td>
            <!-- <td><a href="" class="btn btn-danger btn-sm">Deletar</a></td> -->
        {% endfor %}
    </tbody>
</table>

        
        
        


{% endblock %}