
{% extends "base.html" %}

{% block content %}
<div class="container">

    <h2>{{ title }}</h2>

    <form method="post">
        
        <div class="container ">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="status_incidente" class="form-label"><strong>Status</strong></label>        
                        <select class="form-select" name="status_incidente" aria-label="Default select example" >
                            <option selected>{{ incident.status_incident if incident else 'Selecione o Status' }}</option>
                            
                                {% for status in status_incident_list %}
                                <option value="{{status.status}}">
                                {{status.status}}
                                </option>
                                {% endfor %}
                            
                                               
                    </select>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="start_data_hora" class="form-label">Data/Hora Registro</label>
                        <input type="datetime-local" class="form-control" 
                        name="start_data_hora" 
                        placeholder="Data/Hora Registro" 
                        value="{{ incident.start_date if incident else '' }}" required>
                    </div>
                </div>
                <div class="col">
                    <label for="incident_type" class="form-label">Tipo de Incidente</label>        
                    <select class="form-select" name="incident_type" aria-label="Default select example">
                        <option selected>{{ incident.incident_type if incident else 'Selecione o Tipo de Incidente' }}</option>
                        {% for tp_incidente in incidents_types %}
                        <option value="{{tp_incidente.tipo_incidente}}">
                        {{tp_incidente.tipo_incidente}}
                        </option>
                        {% endfor %}
                                          
                    </select>
                </div>
                
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="report_number" class="form-label">Num Relatorio</label>
                        <input type="text" class="form-control" name="report_number" placeholder="Número do Relatorio Semanal ou Técnico" value="{{ incident.report_number if incident else '' }}" required>
                    </div>

                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="ticket_number" class="form-label">Nº Mensagem/Chamado</label>
                        <input type="text" class="form-control" name="ticket_number" placeholder="Número da mensagem ou chamado" value="{{ incident.ticket_number if incident else '' }}"  >
                    </div>

                </div>

            </div>

        </div>

        
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <label for="btl" class="form-label">Batalhão</label>        
                    <select class="form-select" name="btl" id="btl_select" aria-label="Default select example" >
                        <option selected>{{ incident.btl if incident else 'Selecione o Batalhão' }}</option>
                        
                        {% for unidade in unidades %}
                        <option value="{{unidade.btl}}"
                                data-cpa="{{unidade.cpa}}"
                        >
                        {{unidade.btl}}
                        </option>
                        {% endfor %}
                        
                                          
                    </select>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="cpa" class="form-label">CPA</label>
                        <!-- Campo com preenchimento automatico -->
                        <input type="text" class="form-control" name="cpa" id="cpa_input" placeholder="CPA / Grande Comando" value="{{ incident.cpa if incident else '' }}" readonly required>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="cia" class="form-label">Cia</label>
                        <input type="text" class="form-control" name="cia" placeholder="Cia" value="{{ incident.cia if incident else '' }}" >
                    </div>
                </div>

            </div>

        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Descrição do Incidente</h3>
                    <div class="form-floating">
                        
                        <textarea class="form-control" placeholder="Descrição do Incidente -  Como? Quando? Quando? O que? Por que? medidas tomadas" style="height: 300px;" name="description" id="description" >{{ incident.description if incident else '' }}</textarea>
                        <label for="description">Descrição do Incidente</label>
                    </div>

                </div>
            </div>
        </div>
    
        <!-- Card Observações -->
        <!-- <div class="container mt-2">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4>Observações</h4>
                    <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#addObsModal">
                        Adicionar Observação
                    </button>
                </div>
                <div class="card-body">
                
                        <ul class="list-group">
                            
                                <li class="list-group-item">
                                    <p class="mb-1">texto_observacao </p>
                                    <small class="text-muted">
                                        Por autor_obs.username  em data_observacao
                                    </small>
                                </li>
                            
                        </ul>
                    
                        <p class="text-muted">Nenhuma observação foi adicionada ainda.</p>
                    
                </div>
            </div>
        

            <div class="modal fade" id="addObsModal" tabindex="-1" aria-labelledby="addObsModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addObsModalLabel">Adicionar Nova Observação</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="POST" action="">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="texto_observacao" class="form-label">Observação</label>
                                    <textarea class="form-control" id="texto_observacao" name="texto_observacao" rows="5" required></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Salvar Observação</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Card Observações -FIM -->

    <div class="container mt-2">
        
        {% if edit_mode %}
        <button type="submit" class="btn btn-primary mb-3"  id="btnSalvar" onclick="return confirm('Tem certeza de que deseja salvar as alterações?')">Salvar Alterações</button>
        {% else %}
        <button type="submit" class="btn btn-primary mb-3"  id="btnSalvar" >Registrar Incidente</button>
        {% endif %}
    </div>

    

        
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}




