{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h3>Dashboard de Incidentes</h3>
    
    <div class="card mb-4">
        <div class="card-body">
            <form method="GET" action="{{ url_for('incidente.dashboard') }}" class="row g-3 align-items-end">
                <div class="col-md-3">
                    <label for="start_date" class="form-label">Data de Início</label>
                    <input type="date" class="form-control" id="start_date" name="start_date" value="{{ request.args.get('start_date', '') }}">
                </div>
                <div class="col-md-3">
                    <label for="end_date" class="form-label">Data de Fim</label>
                    <input type="date" class="form-control" id="end_date" name="end_date" value="{{ request.args.get('end_date', '') }}">
                </div>
                <div class="col-md-3">
                    <label for="incident_type" class="form-label">Tipo de Incidente</label>
                    <select class="form-select" id="incident_type" name="incident_type">
                        <option value="">Todos</option>
                        {% for type in incidents_types %}
                            <option value="{{ type.tipo_incidente}}" >{{ type.tipo_incidente }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" id="status" name="status">
                        <option value="">Todos</option>
                        {% for status_inc in status %}
                            <option value="{{ status_inc.status }}" >{{ status_inc.status }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
                    <a href="{{ url_for('incidente.dashboard') }}" class="btn btn-secondary">Limpar Filtros</a>
                </div>
                <div class="col-12">
                    <p>
                        <strong>Filtros Aplicados:</strong>
                        {{filtros_aplicados}}
                    </p> 
                </div>
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Status Incidentes</h5>
                    {{ donut_chart_html | safe }}
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="row">
            
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Incidentes por CPA e Batalhão</h5>
                    {{ bar_chart_html | safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}