{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h3>Incidentes Status</h3>
    
    <div class="card mb-4">
        <div class="card-body">
            <form method="GET" action="{{ url_for('incidente.dashboard_incidentes_status') }}" class="row g-3 align-items-end">
                <div class="col-md-3">
                    <label for="start_date" class="form-label">Data de Início</label>
                    <input type="date" class="form-control" id="start_date" name="start_date" value="{{filtros_aplicados.start_date}}">
                </div>
                <div class="col-md-3">
                    <label for="end_date" class="form-label">Data de Fim</label>
                    <input type="date" class="form-control" id="end_date" name="end_date" value="{{ filtros_aplicados.end_date }}">
                </div>
                <div class="col-md-3">
                    <label for="incident_type" class="form-label">Tipo de Incidente</label>
                    <select class="form-select" id="incident_type" name="incident_type">
                        <option value="{{ filtros_aplicados.incident_type or 'Todos' }}">{{ filtros_aplicados.incident_type or 'Todos' }}</option>
                        <option value="todos" >Todos</option>
                        {% for type in incidents_types %}
                            <option value="{{ type.tipo_incidente}}" >{{ type.tipo_incidente }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="col-md-3 text-end">
                    <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
                    <a href="{{ url_for('incidente.dashboard_incidentes_status') }}" class="btn btn-secondary">Limpar Filtros</a>
                </div>
                <div class="col-12">
                    <p>
                        <strong>Filtros Aplicados:</strong>
                        {{filtros_aplicados}}
                        
                    </p> 
                </div>
            </form>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Total de incidentes registrados</h5>
                    <h1>{{ totais.Total }}</h1>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Incidentes Resolvidos</h5>
                    <h1>{{ totais.Resolvido }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Em Análise</h5>
                    <h1>{{ totais['Em Análise'] }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Aguardando Informação / Ação Externa</h5>
                    <h1>{{ totais.Aguardando }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            
        <div class="col-md-12 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Status Incidentes</h5>
                    {{ donut_chart_html | safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}